#
#   WE RUN THIS IN COMPOSE BECAUSE OF "DEVICES"
#   It might work in Swarm but so what, it definitely works in Compose
#
networks:
  homeassistant:
    name: homeassistant
    external: true

services:
  server:
    image: homeassistant/home-assistant:latest
    volumes:
      - ${PWD}/config:/config
    ports:
      - "80:80" # Required for Amazon Echo set up but interferes with proxy (which I no longer use. :-)
      - "22222:22222" # ssh (debug only)
      - "5683:5683" # CoIot for Shelly 1
#      - "8123:8123"
    environment:
      TZ: "America/Los_Angeles"
    # ZHA needs this to access the Nortek.
#    devices:
#      - "/dev/serial/by-id/usb-Silicon_Labs_HubZ_Smart_Home_Controller_81300CEB-if00-port0:/dev/ttyUSB0" # Z-Wave
#      - "/dev/serial/by-id/usb-Silicon_Labs_HubZ_Smart_Home_Controller_81300CEB-if01-port0:/dev/ttyUSB1" # Zigbee
    restart: unless-stopped
    networks:
      homeassistant:
        aliases:
          - homeassistant
    
