# This config runs only HA,
# the Mosquitto and Z2M instances are in their own containers under z2m.

networks:
  # Allow access from Internet over Cloudflare, works great 
  # but blocks local network access so all IP connected devices become unavailable.
#  warp:
#    name: zero-trust
#    external: true
  # Internal network for HA and Z2M
  homeassistant:
    name: homeassistant
    external: true

services:
  server:
    image: homeassistant/home-assistant:latest
    volumes:
      - ${PWD}/config:/config
    ports:
      - "80:80" # Required for Amazon Echo set up but interferes with proxy / letsencrypt if I run that.
      - "22222:22222" # ssh (debug only)
      - "5683:5683" # CoIot for Shelly 1
#      - "8123:8123"
    environment:
      TZ: "America/Los_Angeles"
    restart: unless-stopped
    networks:
#      warp:
#        aliases:
#          - homeassistant
      homeassistant:

    
