#
#   WE RUN THIS IN COMPOSE BECAUSE OF "DEVICES"
#
version: '3.6'

#volumes:
#  homeassistant_config:
#    name: homeassistant_config
#  nodered_data:
#    name: nodered_data

networks:
  proxy_net:
    name: proxy_net
    external: true

services:
  server:
    # This is defined for the swag reverse proxy, it won't work with swarm!
    container_name: homeassistant
    depends_on:
      - "mosquitto"
    image: "homeassistant/home-assistant:latest"
    volumes:
      - "${PWD}/config:/config"
      - "/etc/localtime:/etc/localtime:ro"
      - "/etc/timezone:/etc/timezone:ro"
    ports:
      #- "80:80" # Required for Amazon Echo set up but interferes with proxy
      - "22222:22222" # ssh (debug only)
      - "8123:8123" # HTTP is here and will be proxied, see .env
    networks:
      proxy_net:
        aliases:
          - homeassistant
    devices:
      - "/dev/serial/by-id/usb-Silicon_Labs_HubZ_Smart_Home_Controller_81300CEB-if00-port0:/dev/ttyUSB0" # Z-Wave
      - "/dev/serial/by-id/usb-Silicon_Labs_HubZ_Smart_Home_Controller_81300CEB-if01-port0:/dev/ttyUSB1" # Zigbee
    restart: unless-stopped
    
#  node-red:
#    # Build our own image to get the homeassistant node module
#    build:
#      context: .
#      dockerfile: Dockerfile.nodered
#    volumes:
#      - "nodered_data:/data"
#    ports:
#      - "1880:1880"
#    networks:
#      proxy_net:
#        aliases:
#          - node-red
#    restart: unless-stopped
    
  mosquitto:
    image: eclipse-mosquitto:latest
    volumes:
      - ${PWD}/mosquitto_config:/mosquitto/config
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    # I use mqtt to talk to hardware so
    # some ports have to be open to the LAN.
    ports:
      - "9001:9001"
      - "1883:1883"
    networks:
      proxy_net:
        aliases:
          - mosquitto
    restart: unless-stopped
    
