homeassistant:
  # Name of the location where Home Assistant is running
  name: Home
  country: US

  auth_providers:
    - type: trusted_networks
      trusted_networks:
        - 192.168.1.0/24
#        - 192.168.100.0/24
#        - 192.168.123.0/24
        - 127.0.0.1
      allow_bypass_login: true
    - type: homeassistant
  
# Location required to calculate the time the sun rises and sets
  latitude: 46.17441
  longitude: -123.83788

# Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: 5

  unit_system: us_customary

# Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: America/Los_Angeles

# Customization file
  customize: !include customize.yaml

  currency: USD

  external_url: http://homeassistant.wildsong.biz
  internal_url: http://192.168.2.2

# This entry is only here to attempt to override the default radius of 100m
zone:
  - name: Home
    latitude: 46.17441
    longitude: -123.83788
    radius: 30
    icon: mdi:account-multiple
      
# Show links to resources in log and frontend
#introduction:

# Enables the frontend
frontend:

# Enables configuration UI
config:

# Configuration.yaml example
scene: !include scenes.yaml

# Uncomment this if you are using SSL/TLS, running in Docker container, etc.
http:
  server_port: 80
  ip_ban_enabled: false
  login_attempts_threshold: 3
  #ssl_certificate: /certs/live/certs/fullchain.pem
  #ssl_key: /certs/live/certs/privkey.pem
# 2025-03-31 added this for access through tunnel from Cloudflare zero trust
# 2025-04-05 not working!!
# 2025-09-06 trying again!!! I wonder how often the IP address changes in Docker
#  base_url: https://homeassistant.wildsong.biz
#  use_x_forwarded_for: true
#  trusted_proxies:
#    - 192.168.0.4
#    - 127.0.0.1

# Allows you to issue voice commands from the frontend in enabled browsers
conversation:

# Enables support for tracking state changes over time
history:

# View all events in a logbook
logbook:

# Track the sun
sun:

# Sensors
#sensor:
#  # Weather prediction
#  - platform: yr

# Fitbit
#sensor:
#  - platform: fitbit
#    clock_format: 12H
#    monitored_resources:
#      - "body/weight"
#      - "devices/battery"
#      - "activities/steps"
#      - "activities/tracker/minutesFairlyActive"
#      - "activities/tracker/minutesVeryActive"
#    unit_system: en_US

# Text to speech
tts:
  - platform: google_translate
    service_name: google_say

# Cloud
cloud:

system_health:

logger:
  default: info
  logs:
    homeassistant.core: info
    homeassistant.components.zha: warning
    homeassistant.components.device_tracker: debug
    homeassistant.components.device_automation: warning

#group: !include groups.yaml
automation: !include automations.yaml
#device_tracker: !include tracker.yaml
script: !include scripts.yaml

#scene: !include scene.yaml

alexa:
  smart_home:

timer:
  bathroom:
    duration: '00:17:00'
  bedroom:
    duration: '00:03:00'
  elab:
    duration: '00:02:00'
  library:
    duration: '00:05:00'
  living_room:
    duration: '00:02:00'
  mbath:
    duration: '00:45:00'
  studio:
    duration: '00:03:00'

mobile_app:

# 2021-07-25 To enable the Helpers
default_config:

# Pass these numbers from Home Assistant to Wemos05 (Garage)
input_number:
  blink_rate:
    name: Blink rate
    min: 0
    max: 100
    step: 1
    initial: 0

  icu:
    name: ICU Dist
    min: 0
    max: 200
    step: 1

  stop_now:
    name: Stop Dist
    min: 0
    max: 200
    step: 1
