homeassistant:
  # Name of the location where Home Assistant is running
  name: Home
  country: US

  auth_providers:
    - type: trusted_networks
      trusted_networks:
        - 192.168.123.0/24
        - 127.0.0.1
      allow_bypass_login: true
    - type: homeassistant
  
# Location required to calculate the time the sun rises and sets
  latitude: 46.17441
  longitude: -123.83788

# Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: 5

# metric for Metric, imperial for Imperial
  unit_system: imperial

# Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: America/Los_Angeles

# Customization file
  customize: !include customize.yaml

  currency: USD

  external_url: https://homeassistant.wildsong.biz/
  internal_url: http://homeassistant.wildsong.biz:8123/

# This entry is only here to attempt to override the default radius of 100m
zone:
  - name: Home
    latitude: 46.17441
    longitude: -123.83788
    radius: 30
    icon: mdi:account-multiple
      
# Show links to resources in log and frontend
#introduction:

# Enables the frontend
frontend:

# Enables configuration UI
config:

# Configuration.yaml example
scene: !include scenes.yaml

# Uncomment this if you are using SSL/TLS, running in Docker container, etc.
http:
   ip_ban_enabled: true
   login_attempts_threshold: 3
   ssl_certificate: /certs/live/bellman.wildsong.biz/fullchain.pem
   ssl_key: /certs/live/bellman.wildsong.biz/privkey.pem

# Allows you to issue voice commands from the frontend in enabled browsers
conversation:

# Enables support for tracking state changes over time
history:

# View all events in a logbook
logbook:

# Enables a map showing the location of tracked devices
map:

# Track the sun
sun:

# Sensors
#sensor:
#  # Weather prediction
#  - platform: yr

# Fitbit
#sensor:
#  - platform: fitbit
#    clock_format: 12H
#    monitored_resources:
#      - "body/weight"
#      - "devices/battery"
#      - "activities/steps"
#      - "activities/tracker/minutesFairlyActive"
#      - "activities/tracker/minutesVeryActive"
#    unit_system: en_US

# Text to speech
tts:
  - platform: google_translate
    service_name: google_say

# Cloud
cloud:

system_health:

logger:
  default: info
  logs:
    homeassistant.core: info
    homeassistant.components.zha: warning
    homeassistant.components.device_tracker: warning
    homeassistant.components.device_automation: warning
    bellows.zigbee.application: warning
    bellows.ezsp: warning
#    zigpy: warning
    zigpy_cc: debug
#    zigpy_deconz.zigbee.application: debug
#    zigpy_deconz.api: debug
#    zigpy_xbee.zigbee.application: debug
#    zigpy_xbee.api: debug
#    zigpy_zigate: debug
#    zhaquirks: debug

#group: !include groups.yaml
automation: !include automations.yaml
#device_tracker: !include tracker.yaml
script: !include scripts.yaml

#scene: !include scene.yaml

# DOES NOT WORK
#emulated_hue:
#  listen_port: 80
#  advertise_ip: 71.8.168.155
#  exposed_domains:
#    - light

# Rheem water heater
#water_heater:
#  - platform: econet
#    username: brian@wildsong.biz
#    password: !secret econet


zha:
  zigpy_config:
    ota:
      otau_directory: /config/zigpy_ota
      ikea_provider: true
      ledvance_provider: false
    
alexa:
  smart_home:

#notify:
#  - platform: telegram
#    name: toasted_cheese
#    chat_id: 2024646225 # Brian


# RGBW:
#light:
#  - platform: mqtt
#    schema: json
#    name: mqtt_hallway
#    state_topic: "home/rgbw"
#    command_topic: "home/rgbw/set"
#    brightness: true
#    rgb: true
#    white_value: true
#    effect: true
#    effect_list: [colorfade_slow, colorfade_fast, flash]
#    optimistic: false
#    qos: 0

light:
  - platform: limitlessled
    bridges:
      - host: 192.168.123.235
        groups:
        - number: 1
          name: Island
          type: rgbww
          #type: white, dimmer did not work

timer:
  bathroom:
    duration: '00:17:00'
  bedroom:
    duration: '00:03:00'
  elab:
    duration: '00:02:00'
  library:
    duration: '00:05:00'
  living_room:
    duration: '00:02:00'
  mbath:
    duration: '00:45:00'
  studio:
    duration: '00:03:00'

mobile_app:

# 2021-07-25 To enable the Helpers
default_config:

# Pass these numbers from Home Assistant to Wemos05 (Garage)
input_number:
  blink_rate:
    name: Blink rate
    min: 0
    max: 100
    step: 1
    initial: 0

  icu:
    name: ICU Dist
    min: 0
    max: 200
    step: 1

  stop_now:
    name: Stop Dist
    min: 0
    max: 200
    step: 1
  
