homeassistant:
  # Name of the location where Home Assistant is running
  name: Home
  # Location required to calculate the time the sun rises and sets
  latitude: 46.17441
  longitude: -123.83788
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: 5
  # metric for Metric, imperial for Imperial
  unit_system: imperial
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: America/Los_Angeles
  # Customization file
  customize: !include customize.yaml

  external_url: https://home-assistant.wildsong.biz/
  internal_url: https://home-assistant.wildsong.biz/

# Show links to resources in log and frontend
#introduction:

# Enables the frontend
frontend:

# Enables configuration UI
config:

# Configuration.yaml example
scene: !include scenes.yaml

# Uncomment this if you are using SSL/TLS, running in Docker container, etc.
http:
   trusted_proxies:
     - 10.0.0.0/8
   use_x_forwarded_for: true
   ip_ban_enabled: true
   login_attempts_threshold: 3

# Checks for available updates
# Note: This component will send some information about your system to
# the developers to assist with development of Home Assistant.
# For more information, please see:
# https://home-assistant.io/blog/2016/10/25/explaining-the-updater/
updater:
  # Optional, allows Home Assistant developers to focus on popular components.
  # include_used_components: true

# Discover some devices automatically
discovery:

# Allows you to issue voice commands from the frontend in enabled browsers
conversation:

# Enables support for tracking state changes over time
history:

# View all events in a logbook
logbook:

# Enables a map showing the location of tracked devices
map:

# Track the sun
sun:

# Sensors
#sensor:
#  # Weather prediction
#  - platform: yr

# Fitbit
sensor:
  - platform: fitbit
    clock_format: 12H
    monitored_resources:
      - "body/weight"
      - "devices/battery"
      - "activities/steps"
    unit_system: en_US

mqtt:
    broker: 192.168.123.2
    discovery: true
    discovery_prefix: homeassistant
    username: homeassistant
    password: u89adsjr3

# Text to speech
tts:
  - platform: google_translate
    service_name: google_say

# Cloud
cloud:

system_health:

logger:
  default: info
  logs:
    homeassistant.core: info
    homeassistant.components.zha: debug
    homeassistant.components.device_tracker: debug
    homeassistant.components.device_automation: debug
    bellows.zigbee.application: warning
    bellows.ezsp: warning
#    zigpy: warning
    zigpy_cc: debug
#    zigpy_deconz.zigbee.application: debug
#    zigpy_deconz.api: debug
#    zigpy_xbee.zigbee.application: debug
#    zigpy_xbee.api: debug
#    zigpy_zigate: debug
#    zhaquirks: debug

#group: !include groups.yaml
automation: !include automations.yaml
#device_tracker: !include tracker.yaml
script: !include scripts.yaml

#scene: !include scene.yaml

# DOES NOT WORK
#emulated_hue:
#  listen_port: 80
#  advertise_ip: 71.8.168.155
#  exposed_domains:
#    - light

# Rheem water heater
water_heater:
  - platform: econet
    username: brian@wildsong.biz
    password: !secret econet

spotify:
  client_id: c466f453b4fc419e9880a1c26d7f55c2
  client_secret: !secret spotify

zha:
  zigpy_config:
    ota:
      otau_directory: /config/zigpy_ota
      ikea_provider: true
      ledvance_provider: false
    
alexa:
  smart_home:


# RGBW:
#light:
#  - platform: mqtt
#    schema: json
#    name: mqtt_hallway
#    state_topic: "home/rgbw"
#    command_topic: "home/rgbw/set"
#    brightness: true
#    rgb: true
#    white_value: true
#    effect: true
#    effect_list: [colorfade_slow, colorfade_fast, flash]
#    optimistic: false
#    qos: 0


# MiLight Strip
light:
  platform: limitlessled
  bridges:
    - host: 192.168.123.25
      groups:
      - number: 2
        name: Kitchen counter
        type: dimmer
      - number: 1
        name: Kitchen
        type: rgbw

timer:
  bedroom:
    duration: '00:01:00'
  elab:
    duration: '00:01:00'
  bathroom:
    duration: '00:00:45'
  island:
    duration: '00:03:00'
  mbath:
    duration: '00:45:00'
  

mobile_app:

# 2021-07-25 To enable the Helpers
default_config:
